<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496377853003-tdq25p3cobju0h9nf67tecj6sp0ufjp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496377853003-tdq25p3cobju0h9nf67tecj6sp0ufjp4</string>
	<key>API_KEY</key>
	<string>AIzaSyANgnLDIW0FSEivaWUPOn_mknIpRLG7lHM</string>
	<key>GCM_SENDER_ID</key>
	<string>496377853003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Durga.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-2146c</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-2146c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496377853003:ios:b8425446a85b34e67209ce</string>
</dict>
</plist>